<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{quiz.heading}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>
    <ion-item *ngFor="let item of quiz.questions; let i = index">
      <ion-list-header color="secondary" text-wrap>
        <h2>{{item}}</h2>
      </ion-list-header>
      <ion-item>
        <ion-list>
          <button ion-item *ngFor="let option of quiz.answers[i].options;let j = index" (click)="select(i,j)" [color]="selections[i][j] ? 'primary' : 'light'">
            {{option}}
          </button>
        </ion-list>
      </ion-item>
    </ion-item>
  </ion-list>

  <button ion-button (click)="submit()" color="secondary" block>submit</button>

</ion-content>