<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Summary Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>
    <ion-item *ngFor="let item of quiz?.questions; let i = index">
      <ion-list-header color="light" text-wrap>
        <h2><b>Q. {{item}}</b></h2>
      </ion-list-header>
      <ion-item>
        <ion-list>
          <ion-grid>
            <ion-row>
              <ion-col col-12><u>Your answer(s) -</u></ion-col>
            </ion-row>
            <ion-row *ngFor="let s of selections[i];let j = index">
              <ion-col col-12>
                <button ion-item *ngIf="s" [color]="j == quiz.answers[i].correctOption ? 'secondary' : 'danger'">
                  A. {{quiz.answers[i].options[j]}}
                </button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12><u>Correct answer -</u></ion-col>
            </ion-row>
            <ion-row>
              <button ion-item color="light">
                A. {{quiz.answers[i].options[quiz.answers[i].correctOption]}}
              </button>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-item>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <h1 ion-text color="secondary" style="font-size: xx-large">
        Your Result
      </h1>
    </ion-card-header>
    <ion-card-content>
      <p>You scored {{navParams.data.totalCorrect}} out of {{navParams.data.totalQuestions}}</p>
    </ion-card-content>
  </ion-card>

  <button ion-button color="secondary" (click)="GoHome()" clear block>Go to Home</button>

</ion-content>