page-quizlist {

	.scroll-content {
		background: map-get($colors, 'light');
	}

	.item {
		background: map-get($colors, 'light');
	}

  	.card-background-page {

		ion-card {
			position: relative;
			text-align: center;
		}

		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
		}
  	}
}
