<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <span style="color: black">Quizator Home</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <ion-card *ngFor="let item of quizes" (click)="quizPage(item)">
    <img src="{{ item.imgSrc }}"/>
    <div class="card-title">
      {{ item.heading }}
    </div>
  </ion-card>

</ion-content>